<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="UTF-8"/>
		<!-- basic scripts -->
		<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/underscore.min.js}"></script>
		<script th:src="@{/js/jquery.sparkline.min.js}"></script>
		<script th:src="@{/js/ace-elements.min.js}"></script>
		<script th:src="@{/js/ace.min.js}"></script>
		<script th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/jquery.dataTables.bootstrap.js}"></script>
		<script th:src="@{/js/backbone.min.js}"></script>
		<script th:src="@{/js/sea.js}"></script>
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/ace.min.css}" />
		<link rel="stylesheet" th:href="@{/css/ace-rtl.min.css}" />
		<link rel="stylesheet" th:href="@{/css/ace-skins.min.css}" />
		<link rel="stylesheet" th:href="@{/css/font-awesome.min.min.css}" />
</head>
<body>
</body>
</html>