<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="pre_included">
</head>
<body>
<div id="sidebar" class="sidebar responsive">
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	</script>

	<ul class="nav nav-list">
		<li class="active">
			<a href="index.html">
				<i class="menu-icon fa fa-tachometer"></i>
				<span class="menu-text"> Dashboard </span>
			</a>

			<b class="arrow"></b>
		</li>

		<li class="">
			<a href="/userMng" class="dropdown-toggle">
				<i class="menu-icon fa fa-desktop"></i>
				<span class="menu-text">
					用户管理
				</span>
				<b class="arrow fa fa-angle-down"></b>
			</a>
		</li>


		<li class="">
			<a href="/roleMng">
				<i class="menu-icon fa fa-list-alt"></i>
				<span class="menu-text"> 
				角色管理
				 </span>
			</a>

			<b class="arrow"></b>
		</li>
		
		<li class="">
			<a href="/docColumnMng">
				<i class="menu-icon fa fa-list-alt"></i>
				<span class="menu-text"> 
				栏目管理
				 </span>
			</a>

			<b class="arrow"></b>
		</li>
		
		<li class="">
			<a href="/docSourceMng">
				<i class="menu-icon fa fa-list-alt"></i>
				<span class="menu-text"> 
				来源管理
				 </span>
			</a>

			<b class="arrow"></b>
		</li>
		
		<li class="">
			<a href="/columnSourceAssign">
				<i class="menu-icon fa fa-list-alt"></i>
				<span class="menu-text"> 
				栏目来源分配
				 </span>
			</a>

			<b class="arrow"></b>
		</li>

	</ul><!-- /.nav-list -->

	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>

	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
	</script>
</div>
</body>
</html>